@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    font-family: serif;
    background-color: #854f6c;
    color: #fff;
}

.base {
    padding-top: 8rem;
}

.mx-auto {
    margin-left: 20%;
    margin-right: 20%;
}

.title {
    font-size: 56px;
    margin-bottom: 3rem;
    text-transform: capitalize;
}

.header, .aside-nav {
    display: block;
    position: fixed;
    left: 5%;
}

.header {
    top: 10%;
}

.aside-nav {
    top: 40%;
}

.aside-ul {
    background-color: rgba(251, 228, 216, 0.6);
    padding: 1rem;
    border-radius: 32px;
    position: relative;
    box-sizing: border-box;
}

.aside-ul::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(2px);
    z-index: -1;
    border-radius: 32px;
}


.aside-li  {
    display: block;
    border-radius: 1rem;
    transition-duration: .5s;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 600;
}

.aside-link {
    display: block;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    color: #190019;
    transition-duration: .4s;
    padding: .5rem 2rem .5rem 1rem;
}

.active {
    background-color: #854f6c;
    color: #f7ede7;
    text-align: center;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    transition-duration: .2s;
}

.aside-link:hover {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 1rem;
}

.aside-link:active {
    background-color: #854f6c;
    color: #f7ede7;
    border-radius: 1rem;
}

.nav-en {
    display: inline-block;
    font-size: 16px;
}

.aside-li+.aside-li {
    margin-top: .8rem;
}

.base-home{
    padding-bottom: 10rem;
}
.home-container {
    display: flex;
    padding-top: 10%;
}

.home-head {
    width: 60%;
    margin-right: 2rem;
    margin-top: 8rem;
}

.home-body {
    width: 40%;
}

.home-body img {
    width: 100%;
    height: 100%;
    box-shadow: #bba2a28f 25px 20px 4px;
    border-radius: 12px;
}

.name, .subtitle {
    color: #fff;
}

.name, .name-small, .job-title, .subtitle {
    display: block;
}

.name-small, .job-title, .subtitle {
    margin-top: 1rem;
}

.name {
    font-size: 48px;
}

.name-small {
    font-size: 14px;
}

.job-title {
    font-size: 28px;
    color: #fbe4d8
}

.subtitle {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 2px;
}

.about-desc {
    display: block;
    margin-top: 3rem;
    line-height: 2;
    font-size: 20px;
    letter-spacing: 2px;
}

.skill, .work-title, .edu-title {
    font-size: 32px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.skill-ul {
    display: flex;
    flex-wrap: wrap;
}

.skill-li {
    display: block;
    width: 25%;
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding-right: .5rem;
    box-sizing: border-box;
    position: relative;
}

.skill-ch {
    display: inline-block;
    font-size: .7rem;
    position: absolute;
    right: 15%;
}

.front-line, .back-line {
    height: .2rem;
    border-radius: 32px;
    width: 90%;
    margin-top: .5rem;
}

.front-line {
    background-color: #fbe4d8;
    position: absolute;
    z-index: 10;
}

.front-line-frist {
    width: 75%;
}

.front-line-second {
    width: 55%;
}

.back-line {
    background-color: rgba(66, 66, 66, .5);
    position: relative;
}

.time {
    display: inline-block;
    text-transform: capitalize;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

/* 
.base-project{
    position: relative;
} */
.project-items {
    margin-top: 4rem;
}

.project-item {
    display: flex;
    border: 2px solid #fbe4d8;
    border-radius: 3rem;
    margin-bottom: 4rem;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 2px 2px 15px rgba(161, 161, 161, 0.6);
    transition-duration: .5s;
    cursor: pointer;
}

.project-item:hover {
    border-color: #dfb6b2;
    box-shadow: 
    rgba(255, 232, 189, 0.25) 0px -30px 60px -12px inset, 
    rgba(0, 0, 0, 0.15) 0px 18px 36px -18px inset,
    0 6px 15px rgba(66, 66, 66, .5);
    transform: translateY(-12px);
}

.project-title {
    padding: 1rem 4rem;
    font-size: 24px;
}

.project-item-content{
    margin-left: 1rem;
    /* margin-right: 1rem; */
    width: 60%;
}


.project-desc {
    display: block;
    line-height: 1.5;
    padding: 0 1rem;
}


/* .img-inner {
    width: 40%;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: #dfb6b2;
} */

.project-img {
    display: block;
    width: 40%;
    height: auto;
    border-radius: 1.5rem;
}

.project-item-pic {
    display: none;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 4%;
}

.project-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-Xmark {
    display: none;
    position: fixed;
    right: 5%;
    top: 1rem;
    font-weight: 900;
    font-size: 4rem;
}

.input-items {
    margin-top: 4rem;
}

.input-item {
    position: relative;
    height: 5rem;
}

.input {
    position: absolute;
    width: 40%;
    outline: none;
    font-size: 2.2rem;
    padding: 2px 24px;
    border-radius: 8px;
    border: 2px solid #fbe4d8;
    transition: .3s ease;
    background: transparent;
    z-index: 10;
}

.input-item span {
    position: absolute;
    font-size: 1rem;
    color: #e1cfcd;
    padding: 6px 12px;
    left: 32px;
    top: 10px;
    pointer-events: none;
    background-color: #854f6c;
    transition: .2s ease;
    text-transform: capitalize;
    transform: translate(0,0) scale(1.5);
    font-weight: 900;
}

.input-item .input:valid ~ span,
.input-item .input:focus ~ span {
    color: #f7ede7;
    padding: 0 10px;
    transform: translate(10px,-18px) scale(1.2);
    z-index: 111;
    font-weight: 600;
    letter-spacing: .2rem;
}
.input:focus {
    color: #f7ede7;
    border: 3px solid #f7ede7;
} 

.input-content {
    height: 180px;
    position: relative;
    margin-bottom: 1rem;
}

.input-content-desc {
    width: 80%;
    height: 150px;
    padding: 24px 18px 100px;
    box-sizing: border-box;
    resize: none;
    font-size: 1.5rem;
}

.btn-submit {
    width: 15%;
    height: 20%;
    position: absolute;
    bottom: 15%;
    right: -5%;
    z-index: 1112;
    background-color: #bbbbbb;
    border-radius: 12px;
    border: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.footer-items {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-item {
    display: block;
    width: 33.333%;
    background-color: #dfb6b2;
    padding: 1rem 0;
}

.footer-icon {
    color: #854f6c;
    font-size: 32px;
    margin-bottom: .5rem;
}

.footer-info {
    font-size: 1.4rem;
    color: #190019;
    font-weight: 600;
}
/* RWD-------------------------------------- */
@media screen and (max-width: 480px) {
    .aside-nav {
        top: 40%;
    }
    
    .aside-ul {
        background-color: rgba(251, 228, 216, 0.6);
        padding: 1rem;
        border-radius: 32px;
        position: relative;
        box-sizing: border-box;
    }
    
    
    .aside-li  {
        display: block;
        border-radius: 1rem;
        transition-duration: .5s;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .aside-link {
        display: block;
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        color: #190019;
        transition-duration: .4s;
        padding: .5rem 2rem .5rem 1rem;
    }
}